# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# Environment variables
.env

# Models
*.pkl
*.joblib

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/

# Large outputs
outputs/
artifacts/